@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/font/stylesheet.css";

@font-face {
   font-family: "Jony";
   src: url("https://static.tildacdn.com/tild3037-6639-4630-b238-353839363661/golca.woff") format("woff");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Jony";
   src: url("https://static.tildacdn.com/tild3066-3565-4438-a262-346661343538/bookantiqua.woff") format("woff");
   font-weight: 600;
   font-style: normal;
}

body {
   font-family: "Jony", Helvetica, sans-serif;
   font-weight: 600;
}

.custom-container {
   @apply max-w-[400px] w-full m-auto;
}

header {
   @apply w-full bg-white;

   .header {
      @apply flex justify-end py-4 px-5;
   }
}

.animate-ring {
   animation: ring 5s infinite forwards;
}

.animate-arrow {
   animation: arrow 3s infinite forwards;
}

.last:nth-child(5) .rounded-full {
   aspect-ratio: 2/2;
   scale: 0.8;
}

@keyframes arrow {
   0% {
      right: 15px;
   }
   50% {
      right: 10px;
   }
   100% {
      right: 15px;
   }
}

@keyframes ring {
   0% {
      rotat: 6deg;
   }
   50% {
      rotate: -6deg;
   }
   100% {
      rotate: 6deg;
   }
}

input[type="radio"] {
   -webkit-appearance: none;
   appearance: none;
   background-color: var(--form-background);
   margin: 0;
   font: inherit;
   color: currentColor;
   width: 1.15em;
   height: 1.15em;
   border: 0.15em solid currentColor;
   border-radius: 50%;
   transform: translateY(-0.075em);
   display: grid;
   place-content: center;
}

input[type="radio"]::before {
   content: "";
   width: 0.65em;
   height: 0.65em;
   border-radius: 50%;
   transform: scale(0);
   transition: 120ms transform ease-in-out;
   box-shadow: inset 1em 1em var(--form-control-color);
   background-color: CanvasText;
}

input[type="radio"]:checked::before {
   transform: scale(1);
}

.heart-animate {
   animation: heart 7s infinite ease;
}

@keyframes heart {
   0% {
      scale: 1;
   }
   50% {
      scale: 1.5;
   }
   100% {
      scale: 1;
   }
}

.animate {
   path {
      max-width: 100%;
      height: 100%;
      stroke: black;
      stroke-width: 2;
      stroke-dasharray: 7000;
      stroke-dashoffset: 7000;
      animation: draw 9s linear forwards;
   }

   @keyframes draw {
      100% {
         stroke-dashoffset: 0;
      }
   }
}

.send {
   outline: none;
   animation: fly 1000ms ease;
}

@keyframes fly {
   10% {
      transform: translate(-10px, 10px);
   }
   40% {
      transform: translate(-15px, 15px);
      opacity: 1;
   }
   100% {
      transform: translate(100vw, -100vh);
      opacity: 0;
   }
}

// ====================== animate ========================= //

@import "/styles/button.scss";
